
# Exclude typescript source and config
*.ts
tsconfig.json

# Include javascript files and typescript declarations
!*.js
!*.d.ts

# Exclude jsii outdir
dist

# Include .jsii
!.jsii

# Custom
.github/
.circleci/
.publish/
.idea/
coverage/
doc/
test/
.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc
gulpfile.js
jsdoc.json
tsconfig.*.json
tsconfig.tsbuildinfo
