version: 2.1
jobs:
  dummy:
    docker:
     - image: alpine
    steps:
      - checkout
      - run:
          name: dummy
          command: "echo 'not building gh-pages'"

  build:
    docker:
     - image: jsii/superchain:1-buster-slim-node18
    steps:
      - run:
          name: fix ssh permissions
          command: sudo chmod 600 /root/.ssh/config
      - checkout
      - run:
          name: install
          command: npm install
      - run:
          name: test
          command: npm run build && npm test
      - run:
          name: package
          command: npm run build && npm run package

  deploy:
    docker:
     - image: jsii/superchain:1-buster-slim-node16
    steps:
      - run:
          name: fix ssh permissions
          command: sudo chmod 600 /root/.ssh/config
      - checkout
      - run:
          name: install
          command: npm install
      - run:
          name: test
          command: npm run build && npm test
      - run:
          name: package
          command: npm run build && npm run package
      - run:
          name: publish to pypi
          command: |
            npx publib-pypi dist/python
      - run:
          name: publish to nuget
          command: |
            npx publib-nuget dist/dotnet
      - run:
          name: publish to maven
          command: |
            npx publib-maven dist/java
      - run:
          name: publish to github go repo
          command: |
            npx publib-golang dist/go
      - run:
          name: publish documentation to github
          command: |
            gulp deployDoc

workflows:
  version: 2
  dummy_build:
    jobs:
      - dummy:
          filters:
            tags:
              ignore: /.*/
            branches:
              only: gh-pages
  validate_build:
    jobs:
      - build:
          filters:
            tags:
              ignore: /.*/
            branches:
              only: main
  build_and_deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/

# VS Code Extension Version: 1.5.1
